<nz-table
  class="no-border small"
  [nzSize]="'small'"
  [nzLoading]="isLoading"
  [nzData]="listOfVertex"
  [nzFrontPagination]="false"
  [nzShowPagination]="false">
  <thead>
    <tr>
      <th nzShowExpand></th>
      <th nzWidth="300px"><strong>Name</strong></th>
      <th><strong>Acknowledged</strong></th>
      <th><strong>Latest Acknowledgment</strong></th>
      <th><strong>End to End Duration</strong></th>
      <th><strong>State Size</strong></th>
      <th><strong>Buffered During Alignment</strong></th>
    </tr>
  </thead>
  <tbody *ngIf="checkPointDetail">
    <ng-container *ngFor="let vertex of listOfVertex; trackBy:trackVertexBy;">
      <tr>
        <td nzShowExpand [(nzExpand)]="vertex.expand"></td>
        <td>{{ vertex.name }}</td>
        <td>{{ checkPointDetail['tasks'][vertex.id]['num_acknowledged_subtasks'] }}/{{ checkPointDetail['tasks'][vertex.id]['num_subtasks'] }} ({{ (checkPointDetail['tasks'][vertex.id]['num_acknowledged_subtasks']/checkPointDetail['tasks'][vertex.id]['num_subtasks']) | percent }})</td>
        <td *ngIf="checkPointDetail['tasks'][vertex.id]['latest_ack_timestamp'] >= 0">{{ checkPointDetail['tasks'][vertex.id]['latest_ack_timestamp'] | date:'HH:mm:ss' }}</td>
        <td *ngIf="checkPointDetail['tasks'][vertex.id]['latest_ack_timestamp'] <0">n/a</td>
        <td *ngIf="checkPointDetail['tasks'][vertex.id]['end_to_end_duration'] >= 0">{{ checkPointDetail['tasks'][vertex.id]['end_to_end_duration'] | humanizeDuration }}</td>
        <td *ngIf="checkPointDetail['tasks'][vertex.id]['end_to_end_duration'] <0">n/a</td>
        <td>{{ checkPointDetail['tasks'][vertex.id]['state_size'] | humanizeBytes }}</td>
        <td>{{ checkPointDetail['tasks'][vertex.id]['alignment_buffered'] | humanizeBytes }}</td>
      </tr>
      <tr [nzExpand]="vertex.expand">
        <td colspan="7" *ngIf="vertex.expand" class="collapse-td">
          <flink-job-checkpoints-subtask [checkPoint]="checkPoint" [vertex]="vertex"></flink-job-checkpoints-subtask>
        </td>
      </tr>
    </ng-container>

  </tbody>
</nz-table>
