<div class="chart">
  <div class="title">
    <div class="text">{{title}}</div>
    <div class="operate">
      <nz-button-group [nzSize]="'small'">
        <button nz-button [nzType]="size==='big'?'primary':'default'" (click)="resize('big')">Big</button>
        <button nz-button [nzType]="size==='small'?'primary':'default'" (click)="resize('small')">Small</button>
      </nz-button-group>
      <button nz-button class="close" [nzSize]="'small'" (click)="close()"><i nz-icon type="close" theme="outline"></i></button>
    </div>
  </div>
  <div class="content">
    <div #chart></div>
  </div>
</div>
