<nz-tabset [nzTabBarGutter]="4" [nzSize]="'small'" [nzAnimated]="{inkBar:true, tabPane:false}">
  <nz-tab nzTitle="Root Exception">
    <flink-monaco-editor [value]="rootException"></flink-monaco-editor>
  </nz-tab>
  <nz-tab nzTitle="Exception History">
    <nz-table
      class="no-border small"
      [nzSize]="'small'"
      [nzData]="listOfException"
      [nzShowPagination]="false"
      [nzFrontPagination]="false">
      <thead>
        <tr>
          <th nzShowExpand nzWidth="60px"></th>
          <th nzWidth="50px">ID</th>
          <th nzWidth="150px">Time</th>
          <th nzWidth="300px">Name</th>
          <th nzWidth="200px">Location</th>
          <th nzWidth="60px">Attempt</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let exception of listOfException;trackBy:trackExceptionBy;">
          <tr>
            <td nzShowExpand [(nzExpand)]="exception.expand"></td>
            <td>{{exception['subtask-index']}}</td>
            <td>{{exception.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{exception.task}}</td>
            <td>{{exception.location}}</td>
            <td>{{exception['attempt-num']}}</td>
          </tr>
          <tr [nzExpand]="exception.expand">
            <td colspan="6" class="expand-td">
              <flink-monaco-editor *ngIf="exception.expand" class="subtask" [value]="exception.exception"></flink-monaco-editor>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>
